@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: "Fredoka", system-ui;
	font-optical-sizing: auto;
	font-optical-sizing: auto;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	min-height: 100vh;
	padding: 5rem 9% 5rem;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://wallpaperaccess.com/full/1779187.jpg");
	background-repeat: no-repeat, no-repeat;
	color: #E2E8DD;
	display: flex;
	flex-wrap: wrap;	
	justify-content: center;
	align-items: center;
	gap: 8rem;
}

a.logo {
	font-family: "Playwrite US Trad", cursive;
	color: #B7D1DA;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 5rem;
	font-weight: 800;
	cursor: pointer;
	transition: 0.5s ease;
}

a.logo:hover {
	transform: scale(1.05);
}

div.home_content {
	max-width: 70vw;
	padding: 0;
}


div.home_content h1, h3 {
	font-family: "Comfortaa", system-ui;
	font-optical-sizing: auto;
	font-size: 5rem;
	font-weight: 900;
	line-height: 1.3;
}

div.home_content h3 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

div.home_content p {
	font-size: 2rem;
}

div.home_content a.button {
	display: inline-block;
	font-size: 2rem;
	background-color: #B7D1DA;
	color: #4E5340;
	padding: 8px 20px 10px 20px;
	margin-top: 20px;
	border-radius: 50px;
	transition: 0.2s ease;
	border-bottom: none;
}

img {
	max-width: 70vw;
	height: auto;
}

@media screen and (max-width: 1000px) {
	body {
		overflow-x: hidden;
		overflow-y: auto;
	}

	a.logo {
		font-size: 3rem;
	}

	div.home_content h1, h3 {
		font-size: 3rem;
	}

	div.home_content h3 {
		font-size: 2rem;
	}

	div.home_content p {
		font-size: 1rem;
	}

	div.home_content a.button {
		font-size: 1rem;
	}
}
